.bubble {
  background-repeat: no-repeat;
  display: inline-block;
  min-height: 100px;
}

.space {
  padding: 15px;
}

.homeBubbleLeft{
  width: 480px;
  background-image: url("../../assets/homeBubbleLeft.svg");
}

.homeBubbleRight{
  width: 480px;
  background-image: url("../../assets/homeBubbleRight.svg");
}

.bubbleRight {
  height: 150px;
  width: 640px;
  background-image: url("../../assets/bubbleRight.svg");
}

.bubbleLeftSm {
  width: 310px;
  background-image: url("../../assets/bubbleLeftSm.svg");
}

.bubbleLeftLg {
  width: 480px;
  background-image: url("../../assets/bubbleLeftLg.svg");
}

.colorRight {
  color: var(--light_teal);
  padding: 15px 50px 0 20px;
}

.colorLeft {
  color: var(--dark_teal);
  padding: 10px 0 0 40px;
}

.colorRight span {
  color: #97db17;
  font-weight: bold;
}

a[class^="test"] {
  display: inline-block;
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
}

a[class^="test"]:after{
  display: block;
  content: "";
  border-bottom: solid 3px #ff9900;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.colorRight a:hover:after {
  transform: scaleX(1);
}

/*  */

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  transition: 0.8s ease-out;
}

.underline:hover {
  color: #2a293b;
  transition: 0.3s;

}
.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  top: 25px;
  background: #2a293b;
  height: 2px;
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.underline:hover {
  cursor: pointer;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}