.bubble {
  background-repeat: no-repeat;
  display: inline-block;
  min-height: 100px;
}

/* * Home Bubbles */

.homeBubbleLeft {
  composes: bubble;
  width: 210px;
  background-image: url("../../assets/homeBubbleLeft.svg");
}

.homeBubbleRight {
  composes: bubble;
  width: 370px;
  background-image: url("../../assets/homeBubbleRight.svg");
}

.homeLightText {
  color: var(--light_teal);
  padding-left: 28px;
}

.homeDarkText {
  color: var(--dark_teal);
  padding-left: 30px;
}

/* * Conversation bubbles */

.bubbleRight {
  composes: bubble;
  height: 150px;
  width: 640px;
  background-image: url("../../assets/bubbleRight.svg");
}

.bubbleLeftSm {
  composes: bubble;
  width: 310px;
  background-image: url("../../assets/bubbleLeftSm.svg");
}

.bubbleLeftLg {
  composes: bubble;
  width: 480px;
  background-image: url("../../assets/bubbleLeftLg.svg");
}

.lightText {
  color: var(--light_teal);
  padding: 15px 50px 0 20px;
}

.darkText {
  color: var(--dark_teal);
  padding: 10px 0 0 40px;
}

a[class^="pingPong"] {
  text-decoration: none;
}

a[class^="AWS"],
a[class^="resume"] {
  display: inline-block;
  color: #ff9900;
  transition: text-decoration 250ms;
  text-decoration: underline solid transparent;
  font-weight: bold;
}

a[class^="AWS"]:hover, a[class^="resume"]:hover {
  text-decoration: underline;
}

a[id^="FED"] {
  color: var(--light_teal);
}

/* *Purple underline animation on home page */

a[class^="underline"] {
  text-decoration: none;
  display: inline;
  position: relative;
  overflow: hidden;
  transition: 0.8s ease-out;
}

a[class^="underline"]:hover {
  color: #2a293b;
  transition: 0.3s;
  cursor: pointer;
}

a[class^="underline"]:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  top: 25px;
  background: #2a293b;
  height: 2px;
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

a[class^="underline"]:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}
