:root {
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8ea;
  font-size: 16px;
  margin-top: 80px;
}
body {
  margin: 0;
}

h1 {
  font-family: Luminari, fantasy;
  font-size: 4rem;
  color: #673e29;
}

p {
  font-size: 1.4rem;
  color: #61988e;
  margin: 0;
}

.p--light {
  color: #c8ddc3;
}
