:root {
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8ea;
  font-size: 16px;
  margin-top: 80px;
  --dark_purple: #2a293b;
  --light_purple: #9593bf;
  --dark_orange: #c56e3f;
  --light_orange: #f5cca9;
  --dark_teal: #61988e;
  --light_teal: #c8ddc3;
  --brown: #673E29;
}

/* Typography */

body {
  margin: 0;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 4rem;
  font-family: Snell Roundhand, cursive;
  color: var(--brown);
}

h2 {
  font-size: 2rem;
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--brown);
}