:root {
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8ea;
  font-size: 16px;
  margin-top: 80px;
  --dark_purple: #2a293b;
  --light_purple: #9593bf;
  --dark_orange: #c56e3f;
  --light_orange: #f5cca9;
  --dark_teal: #61988e;
  --light_teal: #c8ddc3;
}

body {
  margin: 0;
}

h1 {
  font-family: Luminari, fantasy;
  font-size: 4rem;
  color: #673e29;
}

h2 {
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #673e29;
}

p {
  font-size: 1.4rem;
  color: #61988e;
  margin: 0;
}

.p--light {
  color: #c8ddc3;
}
