.container {
  display: flex;
}

.heading {
  min-height: 15vw;
  width: 25vw;
}

.body {
  min-height: 15vw;
  height: fit-content;
  width: 60vw;
}

/* Primary Card */

.primaryHeadingBackground {
  composes: heading;
  background-color: var(--dark_purple);
}

.primaryHeadingText {
  color: var(--light_purple);
  text-align: center;
  margin-top: 1rem;
}

.primaryBodyBackground {
  composes: body;
  background-color: var(--light_purple);
}

.primaryBodyText {
  color: var(--dark_purple);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

/* Secondary Card */

.secondaryHeadingBackground {
  composes: heading;
  background-color: var(--dark_orange);
}

.secondaryHeadingText {
  composes: primaryHeadingText;
  color: var(--light_orange);
}

.secondaryBodyBackground {
  composes: body;
  background-color: var(--light_orange);
}

.secondaryBodyText {
  composes: primaryBodyText;
  color: var(--dark_orange);
}

/* Tertiary Card */

.tertiaryHeadingBackground {
  composes: heading;
  background-color: var(--dark_teal);
}

.tertiaryHeadingText {
  composes: primaryHeadingText;
  color: var(--light_teal);
}

.tertiaryBodyBackground {
  composes: body;
  background-color: var(--light_teal);
}

.tertiaryBodyText {
  composes: primaryBodyText;
  color: var(--dark_teal);
}
