#dev {
  width: 32rem;
  position: absolute;
  top: 16rem;
  left: 52rem;
}

.rightSpeechBubble {
  position: absolute;
  background-repeat: no-repeat;
  height: 75px;
  width: 375px;
  padding: 20px;
  background-image: url("../../assets/homeBubbleRight.svg");
  left: 35rem;
  top: 17rem;
}

.picOfMe {
  height: 23rem;
  border-radius: 50%;
  position: absolute;
  left: 7rem;
  top: 10rem;
}

.textRight {
  color: #61988e;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0;
}


