.devscreen {
  width: 32rem;
  position: absolute;
  top: 16rem;
  left: 52rem;
}

.picOfMe {
  height: 23rem;
  border-radius: 50%;
  position: absolute;
  left: 7rem;
  top: 10rem;
}

.leftBubble {
  position: absolute;
  top: 10rem;
  left: 30rem;
}

.rightBubble {
  position: absolute;
  top: 18rem;
  left: 40rem;
}
