#dev {
  width: 32rem;
  position: absolute;
  top: 16rem;
  left: 52rem;
}

#picSection {
  height: 100vh;
  width: 50vw;
}

#content {
  height: 100vh;
  width: 50vw;
}

.speech {
  background-repeat: no-repeat;
  height: 75px;
  width: 375px;
  padding: 20px;
}

.speechRight {
  background-image: url("../../assets/speechRight.svg");
  position: absolute;
  left: 32rem;
  top: 11rem;
}

.speechLeft {
  background-image: url("../../assets/speechLeft.svg");
  position: absolute;
  left: 35rem;
  top: 17rem;
}

#me {
  height: 23rem;
  border-radius: 50%;
  position: absolute;
  left: 7rem;
  top: 10rem;
}

/* .shahbaz {
  display: inline;
  transition: 0.3s ease-out;
}
.shahbaz:hover {
  color: #4c6a2d;
  cursor: pointer;
  transition: 0.3s;
} */
.textRight {
  color: #c8ddc3;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0;
}
.textLeft {
  color: #61988e;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  transition: 0.8s ease-out;
}

.underline:hover {
  color: #2a293b;
  transition: 0.3s;
}
.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  top: 25px;
  background: #2a293b;
  height: 2px;
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.underline:hover {
  cursor: pointer;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
