header {
  border-top: 3px solid var(--dark_teal);
  height: 100px;
  width: 100%;
  border-bottom: 3px solid var(--dark_teal);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light_teal);
  padding: 0 5rem 0 5rem;
  position: fixed;
  z-index: 1;
}

.chattingWith {
  display: inline;
  margin-left: 1rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container a{
  text-decoration: none;
}

.icons {
  cursor: pointer;
  transition: 400ms;
  border-radius: 20px;
  font-size: 2rem;
  font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--brown);
}

.icons:last-of-type{
    margin-left: 3rem;
}

.icons:hover {
  color: var(--dark_teal);
}
