nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

.navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  background-color: #2a293b;
  width: 100vw;
  height: 4rem;
  margin: 0;
}

.navLinks li {
  padding-top: 1.3rem;
}

.active {
  color: var(--dark_orange) !important;
  /* border-bottom: 3px solid var(--dark_orange); */
  /* text-decoration: underline !important; */
}

.navLinks li a:hover {
  color: var(--dark_orange);
  transition: 0.3s;
}

.navLinks li a {
  color: #fff8ea;
  text-decoration: none;
  transition: 0.4s ease-out;
  display: inline;
  position: relative;
  overflow: hidden;
}

.navLinks li a:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  top: 20px;
  height: 2px;
  background: var(--dark_orange);
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.navLinks li a:hover:after,
.navLinks li a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
