.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: 1fr 8fr;
  gap: 10px 10px;
  grid-template-areas:
    "banner banner banner banner"
    "avatar chatleft chatright myAvatar"
    "avatar chatleft chatright myAvatar";
}

.banner {
  grid-area: banner;
}

.avatar {
  grid-area: avatar;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.chatleft {
  grid-area: chatleft;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
}

.chatright {
  grid-area: chatright;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.myAvatar {
  grid-area: myAvatar;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.avatar1, .l1 {
  grid-row: 1;
  justify-self: center;
  justify-items: start;
}

.avatar2, .l2{
  grid-row: 4;
  justify-self: center;
}

.avatar3, .l3 {
  grid-row: 6;
  justify-self: center;
}

.r1 {
  grid-row: 2;
}

.r2 {
  grid-row: 3;
}

.r3 {
  grid-row: 5;
}

.r4 {
  grid-row: 7;
}

.r5 {
  grid-row: 8;
}

.myAvatar1 {
  grid-row: 2;
  margin-top: -20px;
}

.myAvatar2 {
  grid-row: 5;
  margin-top: -20px;
}

.myAvatar3 {
  grid-row: 7;
  margin-top: -20px;
}
